.wrapper{
    /* outline: 2px solid blue; */
    min-height: 60vh;
    margin-inline: 1vmin;
    border-radius: 15px;
    margin-top: 15vh;
    background: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    box-shadow: 10px 0 25px rgba(0, 0, 0, 0.41);
    background-position: 0 25%;
}


.text{
    margin-inline: 1vmin;
    width: 75%;
    margin-inline: 3vmin auto;
    backdrop-filter: blur(6px);
    padding: 8vmin 4vmin;
    border-radius: 25px;
    animation: glow 1.3s ease infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes glow {
    from{transform: scale(1); box-shadow: none;}
    to{transform: scale(1.05); box-shadow: 10px 0 25px white;}
}

.text h1{
    text-align: left !important;
    text-shadow: 2px 0 5px black;
}

.text a{
    background: var(--c1);
    color: white;
    padding: 2vmin 4vmin;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 1.5vmin;
    font-size: 1.3rem;
    text-shadow: 2px 0 5px black;

}


@media (width>1000px) {
    .wrapper{
        /* outline: 2px solid blue; */
        min-height: 80vh;
        margin-inline: 8vmin;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .text{
        margin-inline: 8vmin auto;
    }
    .text a{
        border-radius: 15px;
        font-size: 2.2rem;

    }
    .text a:hover{
        filter: brightness(120%);
        box-shadow: 0 0 25px white;
        transform: translateY(-10px);
    }
}